* {
    all: unset;
    background: unset;
}
.media-controls {
    margin-left: -1.9rem;
}

.media-title {
    margin-top: -2px;
}
.bar-window {
    background-color: rgba($surface, 0.7);
    min-height: 2.2rem;
}
.app-icon {
    margin-bottom: -2rem;
    margin-right: -1.5rem;
}

.info-box {
    margin-left: 1rem;
    min-height: 4.1rem;
    background-color: rgba(#000000, 0.1);
    border: 2px solid rgba(#ffffff, 0.2);
    border-radius: 1rem;
    min-width: 26rem;
    min-height: 2.8rem;
    padding: 0.5rem 0.5rem;
    color: white;
}

.os-logo {
    // color: white;
    // border: 2px solid rgba(#ffffff, 0.2);
    margin-right: 0.5rem;
}

.os-name {
}
.os-kernel {
    color: rgba(white, 0.4);
}
// .usage-slider {
//     all: unset;
//
//     * {
//         all: unset;
//     }
// }
#ramusage {
}
.usage-slider {
    all: unset;
    * {
        all: unset;
    }
}

.usage-slider trough {
    min-height: 0.7rem;
    min-width: 5rem;
    background-color: rgba(white, 0.2);
    border-radius: 1rem;
}
.usage-slider trough highlight {
    // min-height: 0.7rem;
    border-radius: 1rem;
    background-color: cyan;
}
.bar-player {
    @include border(#ffffff);
    background-color: rgba($surface, 0.3);
}
.media-controls {
    opacity: 0.6;
    &:hover {
        opacity: 1;
    }
}
.datetime {
    @include border(#ffffff);
    background-color: rgba($surface, 0.3);
    .time-label {
        font-weight: bold;
    }
}
.tray {
    margin-right: 1rem;
}
popover.menu {
    margin-top: -0.8rem;
    contents {
        background-color: rgba($surface, 0.5);
        padding: 0.35rem;
        border-radius: 1rem;
        modelbutton {
            transition: 0.3s;
            border-radius: 0.5rem;
            padding: 0.25rem 1rem;
        }
        modelbutton:hover {
            background-color: rgba(lighten($surface, 50%), 0.5);
        }
        separator {
            background-color: mix($surface, $outline, 90%);
            min-height: 0.1rem;
            margin: 0.5rem 0;
        }

        label:disabled {
            color: $outline;
        }

        arrow {
            opacity: 0.3;

            &.left {
                -gtk-icon-source: -gtk-icontheme("go-previous-symbolic");
            }

            &.right {
                -gtk-icon-source: -gtk-icontheme("go-next-symbolic");
            }
        }
    }
}

.media-window {
    min-width: 28rem;
}
