.bar-player {
    background-color: rgba(#000000, 0.1);
    border-radius: 1rem;
    border: 1px solid rgba(#ffffff, 0.2);
    min-height: 25px;
    padding: 0.2rem 1rem;
    color: white;
}
.bar-window {
    // background-color: rgba(#00ffff, 0.1);
    color: white;
}
