.notification-popup {
    @include window;
    min-width: 25rem;

    & .notification-close {
        @include hover($bg: rgba(white, $opacity-low));
        // background-color: rgba(white, $opacity-low);
        border-radius: 50%;
        padding: 0.2rem;
        &:hover {
            background-color: rgba(white, $opacity-low);
        }
    }

    &.notification-action {
        color: $primary;
        @include hover($surfaceContainerHighest);
        border-radius: 0.5rem;
        padding: 0.25rem 0.25rem;
        transition: 0.3s;
    }
}
.notification-body {
    opacity: $opacity-high;
}
.notification-action {
    padding: 0.2rem;
}
.notification-icon {
    border-radius: 1rem;
}
