.settings-sidebar {
    background-color: $surfaceContainer;
    min-width: 300px;
    color: $onSurface;
}

.settings-sidebar-label {
    font-size: 2rem;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
    margin-top: 2rem;
    color: $onSurface;
}

.settings-sidebar-entry {
    all: unset;
    background-color: $surfaceContainer;
    padding: 1rem 2rem;
    color: $onSurface;
    padding-left: 0.75rem;
    font-size: 1.2rem;

    &:selected {
        @if $darkmode == true {
            background-color: lighten($surfaceContainer, 10%);
        } @else {
            background-color: darken($surfaceContainer, 10%);
        }
    }
}

.settings-page-name {
    font-size: 2rem;
    margin-left: 2.5rem;
    color: $onSurface;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.settings-group-name {
    margin-left: 2.5rem;
    color: $primary;
}

.settings-row {
    // all: unset;
    padding: 0.7rem 2.5rem;
    transition: 0.2s;
    color: $onSurface;
    min-width: 15rem;

    background-color: darken($surfaceContainer, 10%);
    &:active {
        @if $darkmode == true {
            background-color: rgba(255, 255, 255, $opacity-low);
        } @else {
            background-color: rgba(0, 0, 0, $opacity-low);
        }
    }
}

.settings-row-label {
    font-size: 1.2rem;
    color: $onSurface;
}

.settings-row-sublabel {
    font-size: 0.9rem;
    font-weight: normal;
    color: $onSurfaceVariant;
}
.settings-page-box {
    background-color: darken($surfaceContainer, 10%);
    font-family: "JetBrainsMono Nerd Font", monospace;
}

.settings-user-name {
    font-size: 2.3rem;
    color: $onSurface;
    margin-left: 1.5rem;
}
.settings-wallpaper {
    padding: 1rem;
    color: $onSurface;
    background-color: darken($surfaceContainer, 10%);
}

.settings-group,
.settings-row {
    * {
        background-color: darken($surfaceContainer, 10%);
    }
}
