.settings-sidebar {
    background-color: $surfaceContainer;
    min-width: 300px;
    color: $onSurface;
}

.settings-sidebar-label {
    font-size: 2rem;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
    margin-top: 2rem;
    color: $onSurface;
}

.settings-sidebar-entry {
    background-color: $surfaceContainer;
    padding: 1rem 2rem;
    color: $onSurface;
    padding-left: 0.75rem;
    transition: 0.5s;
    font-size: 1.2rem;

    &:selected {
        @if $darkmode == true {
            background-color: lighten($primaryContainer, 10%);
        } @else {
            background-color: lighten($primaryContainer, 10%);
        }
    }
}

.settings-page-name {
    font-size: 2rem;
    margin-left: 2.5rem;
    color: $onSurface;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.settings-page {
    background-color: darken($surfaceContainer, 10%);
}

.settings-group-name {
    margin-left: 2.5rem;
    color: $primary;
}

// .settings-row {
//     // all: unset;
//     padding: 0.7rem 2.5rem;
//     // transition: 0.2s;
//     color: $onSurface;
//     min-width: 15rem;
//
//     background-color: darken($surfaceContainer, 10%);
// }

.settings-row-label {
    font-size: 1.2rem;
    color: $onSurface;
}

.settings-row-sublabel {
    font-size: 0.9rem;
    font-weight: normal;
    color: $onSurfaceVariant;
}

.settings-page-box {
    background-color: darken($surfaceContainer, 10%);
    // font-family: "JetBrainsMono Nerd Font", monospace;
}

.settings-user-name {
    font-size: 2.3rem;
    color: $onSurface;
    margin-left: 1.5rem;
}
.settings-wallpaper {
    padding: 1rem;
    color: $onSurface;
    background-color: darken($surfaceContainer, 10%);
}

.settings-group {
    all: unset;
    background-color: darken($surfaceContainer, 10%);
    min-width: 15rem;

    .settings-row {
        padding: 0.7rem 2.5rem;
        background-color: darken($surfaceContainer, 10%);
    }
}

.settings-color-scheme {
    color: $onSurface;
}
