.unset {
    all: unset;
}

.ws-container {
    @include border(#ffffff);
}
.workspace {
    @include hover($secondary_paletteKeyColor);
    background-color: rgba($primaryContainer, 0.3);
    border-radius: 1rem;
    margin: 0 0.25rem;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    min-width: 1.7rem;
    min-height: 1.7rem;
    transition: 0.3s;

    &.active {
        background-color: rgba($primary, 0.5);
    }
}
